<footer class="footer">
  <div class="right__links">
    <a class="right__links--spain-text" href="https://www.spotify.com/es/select-your-country-region/" target="_blank">
      España&nbsp;&nbsp;&nbsp;<img class="right__links--spain-png" src="./assets/images/spain.png" /></a>
    <p class="spotify">&copy;&nbsp;2021 Spotify AB</p>
  </div>
  <nav class="wrap__links">
    <a class="wrap__links--li" href="https://www.spotify.com/es/legal/end-user-agreement/">Legal</a>
    <a class="wrap__links--li"
      href="https://www.spotify.com/es/premium/?utm_source=es-es_brand_contextual-desktop_text&utm_medium=paidsearch&utm_campaign=alwayson_emea_es_premiumbusiness_premium_brand+contextual-desktop+text+exact+es-es+google&gclid=Cj0KCQjw_8mHBhClARIsABfFgpi8ykUvXpoN3tX0x0PdJqS1JzOB4djhhnukCBlgxTn04JcgEugTSUUaAte4EALw_wcB&gclsrc=aw.ds">Configuración
      de cookies</a>
    <a class="wrap__links--li" href="https://www.spotify.com/es/legal/privacy-policy/#s3">Información sobre los
      anuncios</a>
  </nav>
</footer>