<header>
  <section class="menu">
    <div>
      <a href="https://www.spotify.com/es/"><img class="menu__imglogo" src="./assets/images/logo.png" alt="logo" /></a>
    </div>

    <nav>
      <a href="https://www.spotify.com/es/"><img class="menu__imgnav" src="./assets/images/menu-icon.png"
          alt="nav" /></a>
    </nav>
    <nav class="menu__nav">
      <ul class="menu__nav--1">
        <li><a
            href="https://www.spotify.com/ad/premium/?_ga=2.37965923.1557835035.1629193850-1217192473.1577611746&_gac=1.114628981.1626683868.Cj0KCQjwxdSHBhCdARIsAG6zhlWbPfdrY-ek7lgT5HUEgw7Abx57XsN7ZEh4p0G3ERORlC0507Xz3aYaAm5fEALw_wcB"
            class="menu__nav--item">Premium</a></li>
        <li><a
            href="https://support.spotify.com/ad/?_gl=1*4a5hu2*_gcl_aw*R0NMLjE2MjY2ODM4NjguQ2owS0NRand4ZFNIQmhDZEFSSXNBRzZ6aGxXYlBmZHJZLWVrN2xnVDVIVUVndzdBYng1N1hzTjdaRWg0cDBHM0VST1JsQzA1MDdYejNhWWFBbTVmRUFMd193Y0I.*_gcl_dc*R0NMLjE2MjY2ODM4NjguQ2owS0NRand4ZFNIQmhDZEFSSXNBRzZ6aGxXYlBmZHJZLWVrN2xnVDVIVUVndzdBYng1N1hzTjdaRWg0cDBHM0VST1JsQzA1MDdYejNhWWFBbTVmRUFMd193Y0I.&_ga=2.37965923.1557835035.1629193850-1217192473.1577611746&_gac=1.114628981.1626683868.Cj0KCQjwxdSHBhCdARIsAG6zhlWbPfdrY-ek7lgT5HUEgw7Abx57XsN7ZEh4p0G3ERORlC0507Xz3aYaAm5fEALw_wcB"
            class="menu__nav--item">Ayuda</a></li>
        <li><a href="https://www.spotify.com/ad/download/mac/" class="menu__nav--item">Descargar</a></li>
      </ul>
      <ul class="menu__nav--2">
        <li><a href="https://www.spotify.com/ad/signup/" class="menu__nav--item">Registrarse</a></li>
        <li><a
            href="https://accounts.spotify.com/es-ES/login/?continue=https:%2F%2Fopen.spotify.com%2F%3Fl2l%3D1&_gl=1*1v67ux6*_gcl_aw*R0NMLjE2MjY2ODM4NjguQ2owS0NRand4ZFNIQmhDZEFSSXNBRzZ6aGxXYlBmZHJZLWVrN2xnVDVIVUVndzdBYng1N1hzTjdaRWg0cDBHM0VST1JsQzA1MDdYejNhWWFBbTVmRUFMd193Y0I.*_gcl_dc*R0NMLjE2MjY2ODM4NjguQ2owS0NRand4ZFNIQmhDZEFSSXNBRzZ6aGxXYlBmZHJZLWVrN2xnVDVIVUVndzdBYng1N1hzTjdaRWg0cDBHM0VST1JsQzA1MDdYejNhWWFBbTVmRUFMd193Y0I.&_ga=2.25189373.1557835035.1629193850-1217192473.1577611746&_gac=1.52884826.1626683868.Cj0KCQjwxdSHBhCdARIsAG6zhlWbPfdrY-ek7lgT5HUEgw7Abx57XsN7ZEh4p0G3ERORlC0507Xz3aYaAm5fEALw_wcB"
            class="menu__nav--item">Iniciar sesión</a></li>
      </ul>
    </nav>
  </section>
</header>