<header>
  <section class="menu">
    <div class="logo-inicio">
      <a href="https://www.spotify.com/es/"><img class="img-logo" src="./assets/images/logo.png" alt="logo" /></a>
    </div>

    <nav class="button-inicio">
      <a href="https://www.spotify.com/es/"><img class="img-nav" src="./assets/images/menu-icon.png" alt="nav" /></a>
    </nav>
  </section>

  <section class="hero">
    <div class="hero-text">
      <h1 class="h1-hero">Prueba Premium gratis 3 meses</h1>
      <h2 class="h2-hero">
        Escucha millones de canciones sin anuncios, a la carta y sin
        conexión.
      </h2>

      <div class="plans-hero">
        <a class="link-plans" href="#" target="_blank">VER PLANES</a>
      </div>

      <div class="terms-hero">
        <p>
          <a class="terms-hero link-terms" href="https://www.spotify.com/es/legal/premium-promotional-offer-terms/"
            target="_blank">Consulta los Términos y condiciones.</a>
          Los tres meses gratis no están disponibles para quienes ya hayan
          probado Premium.
        </p>
      </div>
    </div>
  </section>
</header>