.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  background-color: $ppal-color;
  height: 50vh;
  min-height: 270px;
  padding: 65px 15px 10px;
  font-family: $ppal-font;
  &__h1 {
    color: white;
    font-family: $ppal-font;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    max-width: 350px;
    margin-bottom: 10px;
    @include tablet {
      font-size:60px;
      line-height: 88px;
      max-width: 700px;
      margin-bottom: 20px;
    }
    @include desktop {
      max-width: 960px;
      font-size:78px;
      line-height: 88px;
    

    }
  }
  &__h2 {
    color: white;
    font-family: $ppal-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    max-width: 350px;
    margin-bottom: 10px;
    @include tablet {
      font-size: 20px;
      line-height: 28px;
      max-width: 700px;
      margin-bottom: 20px;
    }
    @include desktop {
      font-size: 28px;
      max-width: 960px;
    }
  }
  &__plans {
    display: flex;
    justify-content: flex-start;
   
    
    &--link {
      color: white;
      background-color: rgb(30, 172, 73);
      text-decoration: none;
      text-transform: uppercase;
      font-family: $ppal-font;
      font-weight: 600;
      font-size: 10px;
      line-height: 10px;
      display: flex;
      height: 30px;
      width: 300px;
      border-radius: 30px;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      @include tablet{
        width: 200px;
        margin-bottom: 15px;
      }
    }
   
  }
  &__terms {
    display: inline-block;
    color: white;
    font-family: $ppal-font;
    font-size: 8px;
    line-height: 12px;
    @include tablet {
      font-size: 11px;
    }
  }
  @include tablet {
    background-image: url(../images/premium_dancer.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 80%;
    padding: 140px 25px 20px;
    min-height: 440px;
  
  }
  @include desktop {
    padding: 130px 35px 40px;
  }
}
